body {
	background-color: #FFFFFF;
}

td {
	padding: 0px 0px 1px 1px;
	margin: 0px 0px 0px 0px;
}

.view-position {
	position: absolute;
	top: 240px;
	left: 640px;
	width: 470px;
}

.header {
	background: #AFD775;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 4px 10px 4px 5px;
	font-weight: bold;
}

.detail {
	background: #FFFFFF;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.detail-padded {
	background: #FFFFFF;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 4px 10px 4px 5px;
}

.footer-text {
	background: #AFD775;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 4px 10px 4px 5px;
}

.footer-clear {
	background: #FFFFFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 4px 10px 4px 5px;
}

.footer-straight {
	background: transparent;
	border-top: 1px solid black;
}

.fixed-height-social {
	height: 450px;
}

.fixed-height-small {
	height: 65px;
}

.fixed-height-footer {
	height: 15px;
}

.weather-icon {
	height: 55px;
	width: 55x;
}

.wind-direction-icon {
	height: 12px;
	width: 12x;
}

.precipitation-icon {
	height: 12px;
	width: 12x;
}

.thermometer-icon {
	height: 15px;
	width: 18x;
}

.weather-text {
	font-weight: bold;
	font-size: small;
	padding-bottom: 2px;
}

.weather-text-min-temp {
	color: blue;
}

.weather-text-max-temp {
	color: red;
}

.hashtag {
	font-weight: bold;
	color: #024769;
	cursor: pointer;
}

.reposition-image {
	cursor: pointer;
}

a:link {
	font-weight: bold;
	color: #2c5700;
	text-decoration: none;
}

input {
	cursor: pointer;
}

.help-icon {
	cursor: pointer;
	color: red;
}

#pup {
	position: absolute;
	z-index: 200; /* aaaalways on top*/
	padding: 3px;
	margin-left: 10px;
	margin-top: 5px;
	width: 250px;
	border: 1px solid black;
	background-color: #AFD775;
	color: black;
	font-size: 0.95em;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}

#displaybox {
	z-index: 10000;
	filter: alpha(opacity = 50); /*older IE*/
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 50 );
	/* IE */
	-moz-opacity: .50; /*older Mozilla*/
	-khtml-opacity: 0.5; /*older Safari*/
	opacity: 0.5; /*supported by current Mozilla, Safari, and Opera*/
	background-color: #000000;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}

.displaybox-large {
	color:red;
	font-size: 100px;
	font-weight: bold;
	vertical-align: middle;
}

.displaybox-normal {
	color:red;
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

.social-button {
	height: 30px;
	width: 30px;
	border: 0px;
}

.url-text {
	width: 100px;
	background-color:#fff;
	border:1px solid #bbb;
	border-color:#666;
	background-color:#fff;
	border-width:1px;
	border-style:solid;
	margin:0.5em 0;
	width:200px;
	padding:5px;
	font-size:1.5em;
}
