body {
	background-color: #E4F6F8;
}

.view-position {
	position: absolute; top:240px; left: 640px; width: 470px;
}

.header {
	background: #EEF66C;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding:4px 10px 4px 5px;
	font-weight: bold;
}

.detail {
	background: #FFFFFF;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.detail-padded {
	background: #FFFFFF;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding:4px 10px 4px 5px;
}

.footer-text {
	background: #EEF66C;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding:4px 10px 4px 5px;
}

.footer-clear {
	background: #FFFFFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding:4px 10px 4px 5px;
}

.footer-straight {
	background: transparent;
	border-top: 1px solid black;
}

.fixed-height-social {
	height: 450px;
}

.fixed-height-small {
	height: 65px;
}

.fixed-height-footer {
	height: 15px;
}