table  {background-color: transparent; border: solid thin teal; border-radius: 10px;-moz-border-radius: 10px;}
thead th {background:#c3d9ff; border-radius: 10px 10px 0px 0px;-moz-border-radius: 10px 10px 0px 0px;}
tfoot {background:#c3d9ff; border-radius: 0px 0px 10px 10px ;-moz-border-radius: 0px 0px 10px 10px ;}
