/* Overridden styles of Blueprint to customize layout */
body {
	background-color: #ADD5F7;
	font-family: sans-serif;
}

.header-left {
	width: 150px;
	display: table-cell;
	vertical-align: middle;
}

.header-center {
	width: 150px;
	display: table-cell;
	overflow: hidden;
	text-align: center;
}

.header-right {
	width: 150px;
	display: table-cell;
	vertical-align: middle;
}

.header {
	background: #AFD775;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-top: 1px solid #AFD775;
	border-left: 1px solid #AFD775;
	border-right: 1px solid #AFD775;
	padding: 4px 10px 4px 5px;
	font-weight: bold;
	font-size: x-large;
	color: #000000;
	text-align: center;
	cursor: move;
}

.detail {
	background: #FFFFFF;
	border-left: 1px solid #AFD775;
	border-right: 1px solid #AFD775;
	overflow: auto;
}

.detail-map {
	background: #FFFFFF;
	border-left: 1px solid #AFD775;
	border-right: 1px solid #AFD775;
}

.detail-padded {
	background: #FFFFFF;
	border-left: 1px solid #AFD775;
	border-right: 1px solid #AFD775;
	border-bottom: 1px solid #AFD775;
	padding: 4px 10px 4px 5px;
	overflow: auto;
}

.footer-text {
	background: #AFD775;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-left: 1px solid #AFD775;
	border-right: 1px solid #AFD775;
	border-bottom: 1px solid #AFD775;
	padding: 4px 10px 4px 5px;
}

.footer-clear {
	background: #FFFFFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-left: 1px solid #AFD775;
	border-right: 1px solid #AFD775;
	border-bottom: 1px solid #AFD775;
	padding: 4px 10px 4px 5px;
}

.fixed-height-block {
	height: 457px;
}

.fixed-height-block-with-title {
	height: 416px;
}

.fixed-height-footer {
	height: 15px;
}

.weather-icon {
	height: 50px;
	width: 50x;
}

.wind-direction-icon {
	height: 12px;
	width: 12x;
}

.precipitation-icon {
	height: 12px;
	width: 12x;
}

.thermometer-icon {
	height: 15px;
	width: 18x;
}

.weather-text {
	font-weight: bold;
	font-size: x-small;
	padding-bottom: 2px;
	width: 10px;
}

.weather-text-min-temp {
	color: blue;
}

.weather-text-max-temp {
	color: red;
}

.hashtag {
	font-weight: bold;
	color: #68A61E;
	cursor: pointer;
}

a:link {
	font-weight: bold;
	color: #2C5700;
	text-decoration: none;
}

a:visited {
	font-weight: bold;
	color: #2C5700;
	text-decoration: none;
}

input {
	cursor: pointer;
}

#pup {
	position: absolute;
	z-index: 200; /* aaaalways on top*/
	padding: 3px;
	margin-left: 10px;
	margin-top: 5px;
	width: 200px;
	border: 1px solid black;
	background-color: #AFD775;
	filter: alpha(opacity =     80);
	opacity: .8;
	color: black;
	font-size: 0.95em;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}

.social-button {
	height: 30px;
	width: 30px;
	border: 0px;
	vertical-align: middle;
	padding-bottom: 5px;
}

.url-text {
	width: 100px;
	background-color: #fff;
	border: 1px solid #bbb;
	border-color: #666;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	margin: 0.5em 0;
	width: 200px;
	padding: 5px;
	font-size: 1.5em;
}

.inline {
	display: inline;
}

.button {
	height: 36px;
}

.child {
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
	width: 468px;
	height: 465px;
	display: none;
}

.header-icon {
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.footer-icon {
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.container-navigation-icon {
	height: 26px;
	width: 36px;
	cursor: pointer;
}

.title-text {
	color: #000000;
}

.short-text {
	width: 30px;
}

.general-subtitle {
	font-size: small;
	font-family: sans-serif;
	padding-bottom: 5px;
}

.general-text {
	font-size: small;
	font-family: sans-serif;
}

.spinner {
	width: 30px;
	height: 30px;
}

.config-row {
	background: transparent;
	font-size: medium;
	color: white;
}

.config-header {
	font-size: medium;
	color: white;
	font-family: sans-serif;
}

.shorten {
	vertical-align: middle;
}

.tweet-age {
	color: gray;
}

.twitter-pic {
	width: 48px;
	height: 48px;
}

.message {
	float: right;
	text-align: right;
	font-weight: bold;
	color: #000;
	padding-top: 10px;
}

.draggable {
	position: absolute;
}

.panel {
	width: 470px;
	display: none
}

.cacheimage {
	height: 30px;
    padding: 8px 0 0;
    vertical-align: top;
    width: 30px;
}